/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'Varela Round', sans-serif;
}

#map{
    width: 100%;
    height: 465px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


.has-error label {
    font-weight:bold;
    color:#a94442
}
.has-error {
    color:#a94442
}

#formAddFarma .form-inline {
    margin-bottom: 15px;
    background-color: #CFEBF3;
    border: 1px solid #5BC0DE;
    padding: 20px;
    text-align: center;
    margin: 0px auto 18px auto;
}

#formAddFarma .form-inline.has-error {
    background-color: #FFC2C2;
    border: 1px solid red;
}
/*#formAddFarma .form-inline.has-error.btn[disabled] {*/
    /*background-color: #FFC2C2;*/
    /*border: 1px solid red;*/
/*}*/


#formAddFarma .form-inline.has-error button#buttonSearch[disabled] {
    background-color: #dddddd;
    color: #8E8E8E;
    border: 1px solid #8e8e8e;
}