html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'naturasansbold';
    src: url('../fonts/naturasans-bold.eot');
    src: url('../fonts/naturasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturasans-bold.woff2') format('woff2'),
         url('../fonts/naturasans-bold.woff') format('woff'),
         url('../fonts/naturasans-bold.ttf') format('truetype'),
         url('../fonts/naturasans-bold.svg#naturasansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naturasanslight';
    src: url('../fonts/naturasans-light.eot');
    src: url('../fonts/naturasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturasans-light.woff2') format('woff2'),
         url('../fonts/naturasans-light.woff') format('woff'),
         url('../fonts/naturasans-light.ttf') format('truetype'),
         url('../fonts/naturasans-light.svg#naturasanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naturasansregular';
    src: url('../fonts/naturasans-regular.eot');
    src: url('../fonts/naturasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturasans-regular.woff2') format('woff2'),
         url('../fonts/naturasans-regular.woff') format('woff'),
         url('../fonts/naturasans-regular.ttf') format('truetype'),
         url('../fonts/naturasans-regular.svg#naturasansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#map {
    height: 531px;
    border-top: 11px solid #e15251;
    z-index: 0
}

#header {
    position: relative;
    display: block;
    height: 715px;
    z-index: 1000;
}

#header img {
    position: absolute
}

/*// NEW HEADER START*/

.header-top {
    position: relative;
    height: 430px;
    background: url('/img/mulher.jpg') repeat-x center bottom;
    opacity: 1;
}

.header-top .intro {
    line-height:19px;
}

.header-top .intro .logo {
    display:none;
    position: absolute;
    left: 50%;
    top: 179px;
    margin-left: -282px;
}

.header-top .intro .compre-online {
    float: left;
    margin-top: 70px;
    width: 270px;
}

.header-top .intro .sou2 {
    position: absolute;
    left: 47%;
    top: 39%;
    margin-top: 35px;
    margin-left: -320px;

}

.header-top .intro .conheca-toda-linha {
    position: absolute;
    left: 50%;
    margin-left: 320px;
    top: 50%;
    margin-top: 48px;
}

.header-top .intro .poder-escolher {
    float: right;
    margin-top: 52px;
    width: 250px;
}

.header-top .intro .escolha-melhor {
    line-height: 22px;
    letter-spacing: -1px;
}

.header-top .intro .saiba-mais {
    /*display:none;*/
    margin-top: 20px
}

.header-top .intro .sou1 {
    display: none;
    margin-left: -80px;
    margin-top: 72px;
}

.header-top .intro .comprar-linha-sou, .header-top .intro .comprar-linha-sou-mobile {
    font-family: 'naturasansregular';
    font-weight: normal;
    font-size: 20px;
    color: #898989;
    margin-top: 6px;
}

.header-top .intro .comprar-linha-sou strong, .header-top .intro .comprar-linha-sou-mobile strong {
    font-family: 'naturasansbold';
    font-weight: bold;
}

.header-top .intro .comprar-linha-sou-mobile {
    display: none;
}

.header-top .intro .obs {
    text-align: left;
    color: #bfbfbf;
    font-size: 11px;
    line-height: 13px;
    /*margin-top: 83px;*/
    margin-top: 100px;
    width: 175px;
    font-family: Arial, sans-serif;
}

.vermelho {
    font-family: 'naturasansregular';
    font-weight: normal;
    font-size: 31px;
    color: #d84562;
    /*line-height: 35px;*/
}

.laranja {
    font-family: 'naturasansbold';
    font-weight: bold;
    font-size: 31px;
    color: #de002e;
    line-height: 35px;
}

.farma {
    padding-top: 10px;
    background-color: #e35849;
    font-family: 'naturasansbold';
    font-weight: bold;
    min-height: 551px;
}

/*// NEW HEADER END*/

#search-box {
    display: block;
    width: 260px;
    color: #fff;
    font-weight: normal;
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 380px;
    z-index: 999;
    left: 50%;
    margin-left: -550px;
    border-radius: 7px;
}

#search-box .search-input {
    background-color: #dd4638;
    width: 100%;
    padding: 23px 23px 33px 23px;
    border-radius: 7px 7px 0px 0px;
    position: relative;
}

#search-box .search-input-radio {
    background-color: #e35849;
    width: 100%;
    padding: 13px 23px;
    border-radius: 0px 0px 7px 7px;

}

/* RADIO
input[type=radio].custom-radio {*/
input.custom-radio{
    position:absolute;
    z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=radio].custom-radio + label.custom-label {
    text-align: center;
    padding-left: 30px;
    height:17px;
    display:inline-block;
    line-height:18px;
    background-repeat:no-repeat;
    font-size:14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    vertical-align:middle;
    cursor:pointer;
}
input[type=radio].custom-radio:checked + label.custom-label{
    background-image: url(/img/radio-on.png);
}
label.custom-label {
    background-image: url(/img/radio-off.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search-box div {
    background-color: transparent;

}

#search-box a {
    color: #fff0c4;
    text-decoration: underline;
    float: right;
    padding-top: 3px;
    font-size: 11px;
}

#search-box input[type=search] {
    color: #858585;
    background-color: white;
    border: none;
    width: 100%;
    display: block;
    padding: 3px 21px 3px 10px;
    border-radius: 14px;
}

#search-box input:focus {
    outline: none;
}

i.fa.fa-search {
    color: #333;
    position: absolute;
    right: 29px;
    top: 28px;
    pointer-events: none;
}

/*.search-input-radio .radio {
    margin: 0px !important;
}*/

.popup-content {
    border-radius: 20px
}

a.bt-busca-cep {
    display: block;
    position:absolute;
    width: 169px;
    height: 66px;
    left: 50%;
    margin-left: -514px;
    top: 50%;
    margin-top:90px;
    background-image: url('/img/bt-busca-cep.png');
}

.bt-conheca{
    display: block;
    position:absolute;
    width: 258px;
    height: 204px;
    left: 50%;
    margin-left: -540px;
    top: 400px;
    background-image: url('/img/bt-conheca.png');
}

.produto-amassado {
    position:absolute;
    width:230px;
    height:143px;
    left: 50%;
    margin-left: 290px;
    top: 480px;
    background-image: url('/img/produto-amassado.png');

}

.texto-compre {
    position:absolute;
    width:171px;
    height:44px;
    top:80px;
    left:50%;
    margin-left: -410px;
    background-image: url('/img/texto-compre.png');
}

.texto-o-bom{
    position:absolute;
    width:218px;
    height: 100px;
    top: 55px;
    left: 50%;
    margin-left: 290px;
    background-image: url('/img/texto-o-bom.png');
}
.txt-comprar{
    position:absolute;
    color: #717171;
    top: 170px;
    line-height: 1.2;
    left: 50%;
    margin-left: 290px;
    font-size: 16px;
    text-align: left;
    font-family: 'naturasanslight';
}

.txt-comprar strong{
    font-family: 'naturasansbold';
}

a.bt-saiba-mais {
    display: block;
    position:absolute;
    width:169px;
    height:66px;
    left: 50%;
    margin-left: 290px;
    top: 385px;
    background-image: url('/img/bt-saiba-mais.png');
}


.compre-online .vermelho {
        margin-bottom: 12px
}
/*.header-top {
    position: relative;
    height: 750px;
    background: url('/img/redenatura_farma_mulher.png') center bottom;
    opacity: 1;
}*/

@media screen and (max-width: 1130px){
    #search-box {
        left: 0%;
        margin-left: 10px;
    }
    .bt-conheca{
        left: 0;
        margin-left: 10px;
    }
    .produto-amassado{
        left: auto;
        margin-left: 0px;
        right: 10px;
    }
    .texto-o-bom, .txt-comprar{
        left: auto;
        margin-left: 0px;
        right: 10px;
    }
}

@media screen and (max-width: 950px){
    .bt-busca-cep{
        left: 10px !important;
        margin-left: 0px !important;
        top: 300px !important;
    }
}

@media screen and (max-width: 850px) {


    .compre-online .vermelho {
        margin-bottom: 8px
    }
    #search-box {
        display: block;
        color: #fff;
        font-weight: normal;
        box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.6);
        position: initial;
        top: 100%;
        z-index: 1001;
        left: 0;
        margin-left: 0;
        border-radius: 0px;
        display: block;
        width: 100%;
    }
    #search-box input{
        padding: 3px 20px 3px 11px;
    }
    #search-box .search-input{
        border-radius: 0px;
    }
    i.fa.fa-search{
        right: 33px;
        top: 30px;
    }
    #search-box .search-input-radio{
        border-radius: 0px;
    }
    .texto-compre {
        top: 35px;
        left: 0;
        margin-left: 50px;
    }

    .texto-o-bom{
        top: 35px;
        right: 30px;
        background-image: url('/img/texto-o-bom.png');
        /*background-size: 80%;*/
        background-repeat: no-repeat;
    }
    .txt-comprar{
        display: none;
    }

    .bt-conheca{
        top: 600px;
        margin-left: 30px;
        border-radius: 50%;
        height: 85px;
        width: 85px;
        background-position: -3px -87px;
    }

    .produto-amassado{
        display:none
    }


    .header {
        padding: 0px;
        background: none;
    }

    .header-top {
        position: relative;
        height: 480px;
        background: url('/img/mulher.jpg') no-repeat -150px centerbottom;
        background-size: 200%;
        opacity: 1;
    }

    .header-top .intro {
        line-height:19px;
    }

    .header-top .intro .logo {
        display:none;
        position: absolute;
        width: 180px;
        left: 50%;
        top: 330px;
        margin-left: -85px;
    }

    .header-top .intro .compre-online {
        position: absolute;
        margin-top: 0;
        top: 175px;
        left: 5%;
        text-align: left;
    }

    .header-top .intro .sou2 {
        display: none;
        float: left;
        clear: left;
        margin-left: 248px;
        margin-top: 369px;
    }

    .header-top .intro .conheca-toda-linha {
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        top: 190px;
        right: 28%;
    }

    .header-top .intro .poder-escolher {
        position: absolute;
        margin-top: 0;
        top: 20px;
        left: 10%;
        width: 80%;
        text-align: right;
    }

    .header-top .intro .escolha-melhor {
        line-height: 21px;
        letter-spacing: -1px;
    }

    .header-top .intro .saiba-mais {
        margin-top: 0;
        position: absolute;
        top: 69px;
        text-align: left;
    }

    .header-top .intro .sou1 {
        display: none;
    }

    .header-top .intro .saiba-mais img {
        display: none;
        width: 80%;
    }

    .header-top .intro .comprar-linha-sou {
        display: none;
    }
    .header-top .intro .comprar-linha-sou-mobile {
        display: block;
        font-weight: normal;
        font-size: 14px;
        top: 50px;
        width: 270px;
        text-align: right;
        position: absolute;
        right: 0px;
    }

    .header-top .intro .obs {
        text-align: right;
        margin-top: 63px;
        width: 100%;
    }

    .vermelho {
        font-weight: normal;
        font-size: 22px;
    }

    .laranja {
        font-weight: bold;
        font-size: 22px;
    }

    .farma {
        margin-top: -1px;
    }

    .farma button {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    .bt-busca-cep {
        display:none !important
    }
}
@media screen and (max-width: 400px) {

    .header-top .intro .conheca-toda-linha {
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        top: 190px;
        right: 47%;
    }

    .header-top .intro .compre-online {
        top: 210px;
    }

    .bt-busca-cep {
        display:none !important
    }


}
/*@media screen and (max-width: 700px){*/
     /*.bt-saiba-mais{*/
        /*top: 180px;*/
    /*}*/
    /*.bt-busca-cep{*/
        /*margin-left: 90px;*/
        /*right: auto;*/
    /*}*/
    /*.bt-saiba-mais{*/
        /*right: 80px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 480px){*/
    /*#header{*/
        /*height: 588px;*/
    /*}*/
    /*.header-top{*/
        /*height: 605px;*/
    /*}*/
    /*.texto-compre{*/
        /*top: 25px;*/
        /*left: 0;*/
        /*margin-left: 20px;*/
        /*background-size: 80%;*/
        /*background-repeat: no-repeat;*/
    /*}*/
    /*.texto-o-bom{*/
        /*top: 25px;*/
        /*right: 20px;*/
        /*background-size: 80%;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top right;*/
    /*}*/
     /*.bt-saiba-mais{*/
        /*top: 130px;*/
    /*}*/
    /*.bt-busca-cep{*/
        /*top: 360px !important;*/
        /*margin-left: 30px;*/
        /*right: auto;*/
    /*}*/
    /*.bt-saiba-mais{*/
        /*right: 30px;*/
    /*}*/
    /*.bt-conheca{*/
        /*top: 490px;*/
        /*margin-left: 10px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 400px){*/
    /*.bt-busca-cep{*/
        /*display: none !important;*/
    /*}*/
    /*#header{*/
        /*height: 430px;*/
    /*}*/
    /*.header-top{*/
        /*height: 445px;*/
    /*}*/
    /*.texto-compre{*/
        /*top: 25px;*/
        /*left: 0;*/
        /*margin-left: 20px;*/
        /*background-size: 70%;*/
        /*background-repeat: no-repeat;*/
    /*}*/
    /*.texto-o-bom{*/
        /*top: 25px;*/
        /*right: 20px;*/
        /*background-size: 70%;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top right;*/
    /*}*/
    /*.bt-saiba-mais{*/
        /*top: 100px;*/
    /*}*/
    /*.bt-busca-cep{*/
        /*margin-left: 0px;*/
        /*right: auto;*/
        /*background-size: 70%;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
    /*}*/
    /*.bt-saiba-mais{*/
        /*right: 0px;*/
        /*background-size: 70%;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
    /*}*/
    /*.bt-conheca{*/
        /*top: 330px;*/
        /*margin-left: 10px;*/
        /*height: 80px;*/
        /*width: 80px;*/
        /*background-position: -6px -89px;*/
    /*}*/
/*}*/